:root {
    --usf-green: #006747;
    --usf-gold: #FDBB30;
    --white: #FFFFFF;
    --text-dark: #333333;
    --link-hover: #FDBB30;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--text-dark);
    line-height: 1.6;
    text-align: center;

  }
  
  header {
    background-color: var(--usf-green);
    color: var(--white);
    padding: 2rem;
    text-align: center;
  }
  

  
  h2 {
    color: var(--usf-green);
    border-bottom: 2px solid var(--usf-gold);
    padding-bottom: 0.3rem;
  }
  

  a:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }
  
