:root {
    --usf-green: #0099ff;
    --usf-gold: #FDBB30;
    --white: #FFFFFF;
    --text-dark: #333333;
    --link-hover: #FDBB30;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--text-dark);
    line-height: 1.6;
    text-align: center;

  }

.tt {
  background-color: var(--usf-green); 
  color: var(--white);           
  padding: 6px 10px;            
  border-radius: 6px;           
  font-size: 0.9rem;             
  text-align: center;
}


  header {
    background-color: var(--usf-green);
    color: var(--white);
    padding: 2rem;
    text-align: center;
  }
  

